.detail-card {
	text-align: center;
	height: auto;
	width: 600px;
}

.detail-image-container {
	width: auto;
	height: auto;
}

.detail-image {
	max-width: 550px;
	height: auto;
}

.details {
}

.description {
}
