#nav-bar {
	display: grid;
	grid-template-rows: 100px;
	grid-template-columns: 17vw 80vw;
	padding: 40px 20px 20px 20px;
	font-size: 50px;
}

#title-container {
	padding-top: 7px;
	grid-column: 1;
}

#button-container {
	grid-column: 2;
}

.ui-button {
	width: 200%;
}
